.force-underline:hover {
  text-decoration: underline !important;
}
.additional-icon i{
    line-height: 40px;
}

.Mui-expanded .panel-custom-title{
    margin-bottom: 0px!important;
}

.panel-custom-title-padding{
    padding-bottom: 20px;
}

.panel-custom-title-display-inline{
    display: inline-block
}


.show-customer-edit-link{
    margin-bottom: 20px!important;
}

.action-customer-link{
    margin: 10px;
}

.customer-circular{
    position: absolute;
}


.customer-panel-subtitle{
    font-size: 18px!important;
    letter-spacing: 0px;
    color: #1F1F1F;
    font-weight: 300!important;
    margin: 0 0 24px 0;
}

.complaint-container{
    margin-top: 20px!important;
}


.proposal-subtitle{
    margin: 30px 0 0 0;
}
