<p>Hola <%= @resource.firstname.blank? ? @resource.email : @resource.firstname %></p>

<p>Al parecer estas intentado recuperar tu contrase침a. Puedes hacerlo presionando el link a continuaci칩n.</p>
<br>
<p><%= link_to 'Cambiar mi contrase침a', edit_password_url(@resource, reset_password_token: @token, protocol: (Rails.env.development? ?  'http' : 'https')), style: "background: #FFFFFF;border: 1px solid #8C0014;opacity: 1;padding: 10px 20px;color: #8C0014;text-transform: uppercase;margin: 0px 30%;text-decoration:none;font-size: 12px;text-overflow: initial;word-break: break-all;white-space: nowrap;" %></p>
<br>
<p>Si no has solicitado un cambio de contrase침a por favor ignorar este correo.</p>

