<p>
	Estimado(a) <%= @user.fullname %>, 
</p>
<p>

	La creación de tu usuario <%= @user.email %> ha sido exitosa. Puedes ingresar al portal a través del siguiente enlace
</p>

<br>
<p><%= link_to 'Ir a Miele Tickets', Rails.configuration.site_url, style: "background: #FFFFFF;border: 1px solid #8C0014;opacity: 1;padding: 10px 20px;color: #8C0014;text-transform: uppercase;margin: 0px 30%;text-decoration:none;font-size: 12px;text-overflow: initial;word-break: break-all;white-space: nowrap;" %></p>
<br>

<p>
	Usar la siguiente contraseña: <b><%= User.default_pass %></b>
</p>